bitsandbytes==0.46.1
firebase-admin==6.9.0
urllib3==1.26.20
flask
transformers
huggingface_hub
pyngrok
pyrebase
blinker
click
itsdangerous
jinja2
markupsafe
werkzeug
filelock
huggingface-hub
numpy
packaging
pyyaml
regex
requests==2.32.4
safetensors
tokenizers
tqdm
fsspec
hf-xet
typing-extensions
accelerate
datasets
diffusers
gradio
gradio_client
peft
sentence-transformers
timm
torchtune
gcloud
oauth2client
pycryptodome
python-jwt
requests-toolbelt==0.10.1
community
Crypto
jwcrypto
interegular