html {
  background-color: rgba(158, 199, 176, 0.61);
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(204 218 190 / 6%);
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-shadow: 1.5px 1.5px #738477;
    padding-bottom: 15px;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background-color: whitesmoke;
    border-radius: 10px;
}

.card {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  border-color: transparent;
}

.card-text {
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  color: white;
  margin-bottom: 20px
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-right a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-right a:hover {
  text-decoration: underline;
  color: #f0c040;
}

button#like-meal-btn {
    border-color: transparent;
    background-color: transparent;
    font-size: x-large;
}

.meal-plan-container {
    background-color: transparent;
    border-top-left-radius: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.meal-plan-bar {
    height: 40px;
    background-color: #222;
    border-color: #222;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0px;
}

.meal-like-bar {
  height: 40px;
  background-color: rgb(105 105 105 / 76%);
  border-bottom-right-radius: 8px;  
  border-bottom-left-radius: 8px;
  border-color: rgb(105 105 105 / 76%);
}

button#like-meal-btn:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

button#like-meal-plan-btn:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

meal-plan-like-bar {
  height: 40px;
  background-color: rgb(105 105 105 / 76%);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-color: rgb(105 105 105 / 76%);
}

button#like-meal-plan-btn {
    border-radius: 50px;
    background-color: transparent;
    border-color: transparent;
}


button#like-meal-plan-btn {
    font-size: x-large;
}

button#like-meal-plan-btn:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.col-md-4 {
  padding-left: 1px;
  padding-right: 1px;
}
