* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Arial', sans-serif;
      overflow-wrap: anywhere;
  }

  #avatar {
    width: 40px;          /* Set width to 40 pixels */
    height: 40px;         /* Set height to 40 pixels */
    border-radius: 50%;   /* Make the image circular */
    object-fit: cover;
  }

  body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f2f5;
  }

  .messenger-container {
      display: flex;
      width: 90%;
      height: 80vh;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  /* Chat area */
  .chat-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      background-color: #e5ddd5;
  }

  .chat-header {
      background-color: #0084ff;
      color: white;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .chat-user-info {
      display: flex;
      align-items: center;
  }

  .chat-user-info img {
      border-radius: 50%;
      margin-right: 10px;
  }

  .chat-username {
      font-size: 1.2em;
      font-weight: bold;
  }

  /* Chat messages */
  /* Adding overflow auto to chat messages for scrolling */
  .chat-messages {
      flex-grow: 1;
      padding: 15px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
  }


  .message {
      max-width: 60%;
      /*margin-bottom: 10px;*/
      padding: 10px;
      border-radius: 10px;
      line-height: 1.5em;
      font-size: 0.9em;
  }

  .message.error .message-content {
      background-color: #f8d7da;
      color: #721c24;
      border: 1px solid #f5c6cb;
      border-radius: 5px;
      padding: 10px;
      margin-top: 3px;
      margin-bottom: 3px;
  }


  .message.received {
      align-self: flex-start;
      background-color: #fff;
      border: 1px solid #ddd;
      margin-top: 3px;
      margin-bottom: 3px;
  }

  .message.sent {
      align-self: flex-end;
      background-color: #0084ff;
      color: white;
      margin-top: 3px;
      margin-bottom: 3px;
  }

  /* Input area */
  .chat-input-container {
      display: flex;
      padding: 10px;
      background-color: #f0f2f5;
      align-items: center;
  }

  textarea {
      width: 90%;
      resize: none;
      border: none;
      padding: 10px;
      border-radius: 20px;
      font-size: 1em;
      outline: none;
  }

  #messageInput:disabled {
      background-color: #dedfdf; /* Change the background color */
  }


  .send-button {
        position: relative;
        padding: 10px 20px;
        background-color: #0084ff;
        color: white;
        border: none;
        border-radius: 20px;
        margin-left: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        min-width: 80px; /* Set a minimum width to keep button size */
  }

  #buttonSpinner {
      position: relative;
      height: inherited;
      padding: 10px 20px;
      border-radius: 20px;
      margin-left: 10px;
      display: none; /* Hidden by default */
  }
  
  .button-spinner {
        border: 3px solid rgba(0, 0, 0, 0.1);
        border-top: 3px solid #fff; /* Spinner color to match the button's theme */
        border-radius: 50%;
        width: 15px;
        height: 15px;
        animation: spin 1s linear infinite;
        position: center;
        display: none; /* Initially hidden */
  }

  .hidden {
      display: none;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  /* Spinner active */
  .send-button.disabled {
      /*background-color: #cccccc;*/
      cursor: not-allowed;
  }

  .send-button.disabled .button-text {
      visibility: hidden;
  }

  .send-button.disabled .button-spinner {
      display: inline-block;
  }

  .send-button:hover {
      background-color: #006bbf;
  }

  .send-button.disabled:hover {
      background-color: #0084ff; /*#cccccc;*/
  }