<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>User Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>

<nav class="navbar">
  <div class="nav-left">
    <a href="/" id="logo"><span class="logo">Meal Plan Generator</span></a>
  </div>
  <div class="nav-right">
    <a href="/" id="home">Home</a>
    {% if 'user' in session %}
    <a href="{{ url_for('profile') }}" id="profile">Profile</a>
    <a href="{{ url_for('saved') }}" id="saved">Saved</a>
    <a href="{{ url_for('logout') }}" id="logout">Log out</a>
    <img class="avatar-navbar" src="{{ user.avatar_url or url_for('static', filename='default-avatar.jpg') }}" alt="User Avatar">
    {% endif %}
  </div>
</nav>

<body>
  {% if 'user' in session %}
  <div class="profile-container">
    <h2>Welcome, {{ user.username }}</h2>

    <div class="info">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Gender:
      <select id="gender" name="gender" required>
        <option value="">-- Select Gender --</option>
        <option value="male"   {% if gender_value == 'male' %}selected{% endif %}>Male</option>
        <option value="female" {% if gender_value == 'female' %}selected{% endif %}>Female</option>
        <option value="other"  {% if gender_value == 'other' %}selected{% endif %}>Other</option>
      </select></p>
      <p><strong>Birthday:</strong> <input style="width:30%" type="date" id="dob" name="dob" value="{{ user.birthday or 'Not specified' }}" required></p>
    </div>

    
    <form action="{{ url_for('save_profile_settings') }}" method="POST">
      <button type="submit">Save Settings</button>
    </form>    

    <div class="avatar-section">
      <div class="section-title">Profile Picture</div>
      <img class="avatar" src="{{ user.avatar_url or url_for('static', filename='default-avatar.jpg') }}" alt="User Avatar">
      <form action="{{ url_for('upload_avatar') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar" accept="image/*" required>
        <br>
        <button type="submit">Upload Avatar</button>
      </form>
    </div>

    <div class="change-password">
      <div class="section-title">Change Password</div>
      <form action="{{ url_for('change_password') }}" method="POST">
        <button type="submit">Reset Password</button>
      </form>
    </div>
  </div>
  {% endif %}
</body>
</html>

